<div class="container">
  <form [formGroup]="myForm" (change)="formChanged()" class="btn-group">
    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <label class=" col">我現在幾歲：<input type="number" class="form-control-sm" formControlName="age"></label>
        <label class=" col">我預計活到幾歲：<input type="number" class="form-control-sm" formControlName="ageLimit"></label>
        <label class=" col">初始本金：<input type="number" class="form-control-sm" formControlName="moneyNow"></label>
        <label class=" col">投資年化利率：<input type="number" class="form-control-sm" formControlName="moneyRate"> %</label>
        <label class=" col">每月固定開銷：<input type="number" class="form-control-sm" formControlName="spendAmount"></label>
        <label class=" col">每年通膨率：<input type="number" class="form-control-sm" formControlName="spendRate"> %</label>
        <label class=" col">每月固定收入：<input type="number" class="form-control-sm" formControlName="incomeAmount"></label>
        <label class=" col">每年收率提升率：<input type="number" class="form-control-sm" formControlName="incomeRate"></label>
        <label class=" col">幾歲開始工作：<input type="number" class="form-control-sm" formControlName="ageWorkStart"> %</label>
        <label class=" col">幾歲不工作了：<input type="number" class="form-control-sm" formControlName="ageWorkEnd"></label>
    </div>
  </form>
</div>
